// styles.module.scss

.container {
	width: inherit;
	background-color: white;
	padding: 0.75rem;
	border-radius: 0.375rem;
	font-size: 0.875rem;
	display: flex;

	.inputContainer {
		width: 160%;
		display: flex;
		justify-content: flex-end;
		text-align: right;

		input {
			width: 150%;
			display: flex;
			justify-content: flex-end;
			text-align: right;
			background-color: #efefef;
			color: rgba(0, 0, 0, 0.8);
			border: none;
			//			border-top-left-radius: 0.375rem;
			//			border-bottom-left-radius: 0.375rem;
			border-radius: 0.375rem;
			padding: 0.375rem 0.5rem;
			outline: none;

			font-weight: 600;
			font-size: 16px;
		}
	}

	.selectContainer {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		text-align: right;
	}

	.selectIcon {
		width: 10px;
		height: 10px;
		object-fit: contain;
	}

	.iconBTN {
		background-image: url('/src/shared/icons/BTC.svg');
	}

	.iconUSDT {
		background-image: url('/src/shared/icons/USDT.svg');
	}

	.iconETH {
		background-image: url('/src/shared/icons/ETH.svg');
	}
}
